body{
	font-family: 'Mulish', sans-serif;
	background: #F4EFE5;
}


.main{
	width: 1145px;
	height: 684px;
	background: #fff;
	margin: 200px auto;
	border-radius: 10px;
	box-shadow: 0px 7px 104px 0px rgba(227, 206, 173, 0.74);
}